@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bg-blue2: #33c0dd;
}

html, body {
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --bg-blue2: #33c0dd;
  }
}

.bg-blue {
  background-color: #0d3c52;
}

.text-blue {
  color: #1684a7;
}

/* Thin grey scrollbar styling */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #111111;
}

::-webkit-scrollbar-thumb {
  background: #444444;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555555;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #444444 #111111;
}
